@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  background-color: #F2C572;
  font-family: 'Courier Prime', monospace;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #BF625A;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#progressbar {
  background-color: #D98555;
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 100vh;
  left: 0;
  z-index: -9999;
}

#timer {
  padding-bottom: 10px;
  font-size: 1.65em;
  text-align: center;
}

.switchContainer {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: #F2E1AC;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
}

.button:hover {
  background-color: #733C4A;
}

.button:active {
  background-color: #733C4A;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2E1AC;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #733C4A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #733C4A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
